<!DOCTYPE html>
<html>
<head>
  <title>Hospital Management System - User</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="loginjs.js" defer></script>
  <script src="logoutjs.js"></script>
</head>
<body>
  <header>
    <h1>Hospital Management System</h1>
    <nav>
      <ul>
        
        <li><a href="doctors.html">View Doctors</a></li>
        <li><a href="book-doctor.html">Book Doctor</a></li>
        <li><a href="manage-bookings.html">Manage Bookings</a></li>
        <li><a href="viewprofile.html">View Profile</a></li>
        <li><a href="home.html">logout</a></li>
       
        
      </ul>
    </nav>
  </header>

  <main>
    <section id="content">
      <!-- Content of each page will be dynamically loaded here -->
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Hospital Management System. All rights reserved.</p>
  </footer>

  <script src="profilejs.js"></script>
  <script src="loginjs.js"></script>
  <script src="logoutjs.js"></script>
  <script src="signup.js"></script>
</body>
</html>
