<!DOCTYPE html>
<html>
<head>
  <title>View Profile</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="logoutjs.js"></script>
</head>
<header>
    <h1>Hospital Management System</h1>
    <nav>
      <ul>
        <li><a href="doctors.html">View Doctors</a></li>
        <li><a href="book-doctor.html">Book Doctors</a></li>
        <li><a href="manage-bookings.html">Manage Bookings</a></li>
        <li><a href="createprofile.html">Create Profile</a></li>
        <li><a href="home.html">logout</a></li>
      </ul>
    </nav>
  </header>
<body>
  <div class="container">
    <h1>View Profile</h1>
    <div id="profile-details">
      <p><strong>First Name:</strong> <span id="first-name"></span></p>
      <p><strong>Last Name:</strong> <span id="last-name"></span></p>
      <p><strong>Email:</strong> <span id="email"></span></p>
      <p><strong>Phone:</strong> <span id="phone"></span></p>
      <p><strong>Medical History:</strong> <span id="medical-history"></span></p>
    </div>

    <button id="edit-profile">Edit Profile</button>
  </div>

  <script src="pscript.js"></script>
  
</body>
</html>
